Repository F5Networks/f5-azure-arm-templates-v2: changes, and which GitLab CI jobs are due for each by the changed paths.
All: azure_access_module_test_job, azure_network_module_test_job, azure_application_module_test_job, azure_bastion_module_test_job, azure_dag_module_test_job, azure_function_module_test_job, azure_telemetry_module_test_job, azure_bigip_autoscale_module_test_job, azure_bigip_standalone_module_test_job, azure_autoscale_example_test_job, azure_autoscale_existing_test_job, azure_quickstart_example_test_job, azure_failover_example_test_job

Path conditions:
  azure_access_module_test_job: any of: automated-test-scripts/data/f5-azure-arm-templates-v2/examples/modules/access/**/*, automated-test-scripts/f5-azure-arm-templates-v2/examples/modules/access/**/*, examples/modules/access/access.json
  azure_network_module_test_job: any of: automated-test-scripts/data/f5-azure-arm-templates-v2/examples/modules/network/**/*, automated-test-scripts/f5-azure-arm-templates-v2/examples/modules/network/**/*, examples/modules/network/network.json
  azure_application_module_test_job: any of: automated-test-scripts/data/f5-azure-arm-templates-v2/examples/modules/application/**/*, automated-test-scripts/f5-azure-arm-templates-v2/examples/modules/application/**/*, examples/modules/application/application.json
  azure_bastion_module_test_job: any of: automated-test-scripts/data/f5-azure-arm-templates-v2/examples/modules/bastion/**/*, automated-test-scripts/f5-azure-arm-templates-v2/examples/modules/bastion/**/*, examples/modules/bastion/bastion.json
  azure_dag_module_test_job: any of: automated-test-scripts/data/f5-azure-arm-templates-v2/examples/modules/dag/**/*, automated-test-scripts/f5-azure-arm-templates-v2/examples/modules/dag/**/*, examples/modules/dag/dag.json
  azure_function_module_test_job: any of: automated-test-scripts/data/f5-azure-arm-templates-v2/examples/modules/function/**/*, automated-test-scripts/f5-azure-arm-templates-v2/examples/modules/function/**/*, examples/modules/function/function.json
  azure_telemetry_module_test_job: any of: automated-test-scripts/data/f5-azure-arm-templates-v2/examples/modules/telemetry/**/*, automated-test-scripts/f5-azure-arm-templates-v2/examples/modules/telemetry/**/*, examples/modules/telemetry/telemetry.json
  azure_bigip_autoscale_module_test_job: any of: automated-test-scripts/data/f5-azure-arm-templates-v2/examples/modules/bigip-autoscale/**/*, automated-test-scripts/f5-azure-arm-templates-v2/examples/modules/bigip-autoscale/**/*, examples/modules/bigip-autoscale/bigip.json
  azure_bigip_standalone_module_test_job: any of: automated-test-scripts/data/f5-azure-arm-templates-v2/examples/modules/bigip-standalone/**/*, automated-test-scripts/f5-azure-arm-templates-v2/examples/modules/bigip-standalone/**/*, examples/modules/bigip-standalone/bigip.json
  azure_autoscale_example_test_job: any of: automated-test-scripts/data/f5-azure-arm-templates-v2/examples/autoscale/full/**/*, automated-test-scripts/f5-azure-arm-templates-v2/examples/autoscale/**/*, examples/autoscale/bigiq/azuredeploy.json, examples/autoscale/payg/azuredeploy.json
  azure_autoscale_existing_test_job: any of: automated-test-scripts/data/f5-azure-arm-templates-v2/examples/autoscale/existing/**/*, automated-test-scripts/f5-azure-arm-templates-v2/examples/autoscale/**/*, examples/autoscale/payg/azuredeploy-existing-network.json
  azure_quickstart_example_test_job: any of: automated-test-scripts/data/f5-azure-arm-templates-v2/examples/quickstart/**/*, automated-test-scripts/f5-azure-arm-templates-v2/examples/quickstart/**/*, examples/quickstart/azuredeploy.json
  azure_failover_example_test_job: any of: automated-test-scripts/data/f5-azure-arm-templates-v2/examples/failover/**/*, automated-test-scripts/f5-azure-arm-templates-v2/examples/failover/**/*, examples/failover/azuredeploy.json

EC-88
  README.md
Due: none

chore: fix broken Azure links
  examples/images/README.md
  examples/modules/bigip-autoscale/README.md
  examples/modules/bigip-autoscale/bigip.json
  examples/modules/function/README.md
  examples/modules/function/function.json
Due: azure_function_module_test_job, azure_bigip_autoscale_module_test_job

EC-159 - Use best practices for storage accounts and key vaults
  automated-test-scripts/data/f5-azure-arm-templates-v2/examples/failover/payg/full/demo_app.yaml
  automated-test-scripts/data/test_policies/shimkus.yaml
  examples/modules/access/access.json
  examples/modules/application/application.json
  examples/modules/bastion/bastion.json
  examples/modules/bigip-autoscale/bigip.json
  examples/modules/bigip-standalone/bigip.json
Due: azure_access_module_test_job, azure_application_module_test_job, azure_bastion_module_test_job, azure_bigip_autoscale_module_test_job, azure_bigip_standalone_module_test_job, azure_failover_example_test_job

update test policy
  automated-test-scripts/data/test_policies/shimkus.yaml
Due: none

update release job node version
  .gitlab-ci.yml
Due: none

fix links
  examples/failover/README.md
  examples/quickstart/README.md
Due: none

EC-139 - Document using a secret to store and retrieve ASM cookie settings
  examples/autoscale/bigiq/README.md
  examples/autoscale/payg/README.md
Due: none

Update azuredeploy.parameters.json
  examples/failover/azuredeploy.parameters.json
Due: none

feat: update latest AT versions
  automated-test-scripts/data/test_policies/shimkus.yaml
  automated-test-scripts/f5-azure-arm-templates-v2/examples/failover/daily_test_existing.yaml
  automated-test-scripts/f5-azure-arm-templates-v2/examples/failover/daily_test_full.yaml
  automated-test-scripts/f5-azure-arm-templates-v2/examples/quickstart/daily_test_existing.yaml
  automated-test-scripts/f5-azure-arm-templates-v2/examples/quickstart/daily_test_full.yaml
  examples/autoscale/bigip-configurations/runtime-init-conf-bigiq-with-app.yaml
  examples/autoscale/bigip-configurations/runtime-init-conf-payg-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-2nic-byol-instance01-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-2nic-byol-instance01.yaml
  examples/failover/bigip-configurations/runtime-init-conf-2nic-byol-instance02-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-2nic-byol-instance02.yaml
  examples/failover/bigip-configurations/runtime-init-conf-2nic-payg-instance01-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-2nic-payg-instance01.yaml
  examples/failover/bigip-configurations/runtime-init-conf-2nic-payg-instance02-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-2nic-payg-instance02.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance01-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance01.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance02-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance02.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance01-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance01.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance02-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance02.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-1nic-byol-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-1nic-byol.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-1nic-payg-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-1nic-payg.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-byol-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-byol.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-payg-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-payg.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-byol-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-byol.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-payg-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-payg.yaml
Due: azure_quickstart_example_test_job, azure_failover_example_test_job

chore: bump AT versions
  Makefile
  examples/autoscale/bigiq/azuredeploy-existing-network.json
  examples/autoscale/bigiq/azuredeploy-existing-network.parameters.json
  examples/autoscale/bigiq/azuredeploy.json
  examples/autoscale/bigiq/azuredeploy.parameters.json
  examples/autoscale/payg/azuredeploy-existing-network.json
  examples/autoscale/payg/azuredeploy-existing-network.parameters.json
  examples/autoscale/payg/azuredeploy.json
  examples/autoscale/payg/azuredeploy.parameters.json
  examples/failover/azuredeploy-existing-network.json
  examples/failover/azuredeploy-existing-network.parameters.json
  examples/failover/azuredeploy.json
  examples/failover/azuredeploy.parameters.json
  examples/failover/bigip-configurations/runtime-init-conf-2nic-byol-instance01-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-2nic-byol-instance01.yaml
  examples/failover/bigip-configurations/runtime-init-conf-2nic-byol-instance02-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-2nic-byol-instance02.yaml
  examples/failover/bigip-configurations/runtime-init-conf-2nic-payg-instance01-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-2nic-payg-instance01.yaml
  examples/failover/bigip-configurations/runtime-init-conf-2nic-payg-instance02-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-2nic-payg-instance02.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance01-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance01.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance02-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance02.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance01-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance01.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance02-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance02.yaml
  examples/modules/bigip-autoscale/bigip.json
  examples/modules/bigip-autoscale/bigip.parameters.json
  examples/modules/bigip-standalone/bigip.json
  examples/modules/bigip-standalone/bigip.parameters.json
  examples/quickstart/azuredeploy-existing-network.json
  examples/quickstart/azuredeploy-existing-network.parameters.json
  examples/quickstart/azuredeploy.json
  examples/quickstart/azuredeploy.parameters.json
Due: azure_bigip_autoscale_module_test_job, azure_bigip_standalone_module_test_job, azure_autoscale_example_test_job, azure_autoscale_existing_test_job, azure_quickstart_example_test_job, azure_failover_example_test_job
