Repository F5Networks/f5-azure-arm-templates-v2: changes, and which GitLab CI jobs are due for each by the changed paths.
All: azure_access_module_test_job, azure_network_module_test_job, azure_application_module_test_job, azure_bastion_module_test_job, azure_dag_module_test_job, azure_function_module_test_job, azure_telemetry_module_test_job, azure_bigip_autoscale_module_test_job, azure_bigip_standalone_module_test_job, azure_autoscale_example_test_job, azure_autoscale_existing_test_job, azure_quickstart_example_test_job, azure_failover_example_test_job

Path conditions:
  azure_access_module_test_job: any of: automated-test-scripts/data/f5-azure-arm-templates-v2/examples/modules/access/**/*, automated-test-scripts/f5-azure-arm-templates-v2/examples/modules/access/**/*, examples/modules/access/access.json
  azure_network_module_test_job: any of: automated-test-scripts/data/f5-azure-arm-templates-v2/examples/modules/network/**/*, automated-test-scripts/f5-azure-arm-templates-v2/examples/modules/network/**/*, examples/modules/network/network.json
  azure_application_module_test_job: any of: automated-test-scripts/data/f5-azure-arm-templates-v2/examples/modules/application/**/*, automated-test-scripts/f5-azure-arm-templates-v2/examples/modules/application/**/*, examples/modules/application/application.json
  azure_bastion_module_test_job: any of: automated-test-scripts/data/f5-azure-arm-templates-v2/examples/modules/bastion/**/*, automated-test-scripts/f5-azure-arm-templates-v2/examples/modules/bastion/**/*, examples/modules/bastion/bastion.json
  azure_dag_module_test_job: any of: automated-test-scripts/data/f5-azure-arm-templates-v2/examples/modules/dag/**/*, automated-test-scripts/f5-azure-arm-templates-v2/examples/modules/dag/**/*, examples/modules/dag/dag.json
  azure_function_module_test_job: any of: automated-test-scripts/data/f5-azure-arm-templates-v2/examples/modules/function/**/*, automated-test-scripts/f5-azure-arm-templates-v2/examples/modules/function/**/*, examples/modules/function/function.json
  azure_telemetry_module_test_job: any of: automated-test-scripts/data/f5-azure-arm-templates-v2/examples/modules/telemetry/**/*, automated-test-scripts/f5-azure-arm-templates-v2/examples/modules/telemetry/**/*, examples/modules/telemetry/telemetry.json
  azure_bigip_autoscale_module_test_job: any of: automated-test-scripts/data/f5-azure-arm-templates-v2/examples/modules/bigip-autoscale/**/*, automated-test-scripts/f5-azure-arm-templates-v2/examples/modules/bigip-autoscale/**/*, examples/modules/bigip-autoscale/bigip.json
  azure_bigip_standalone_module_test_job: any of: automated-test-scripts/data/f5-azure-arm-templates-v2/examples/modules/bigip-standalone/**/*, automated-test-scripts/f5-azure-arm-templates-v2/examples/modules/bigip-standalone/**/*, examples/modules/bigip-standalone/bigip.json
  azure_autoscale_example_test_job: any of: automated-test-scripts/data/f5-azure-arm-templates-v2/examples/autoscale/full/**/*, automated-test-scripts/f5-azure-arm-templates-v2/examples/autoscale/**/*, examples/autoscale/bigiq/azuredeploy.json, examples/autoscale/payg/azuredeploy.json
  azure_autoscale_existing_test_job: any of: automated-test-scripts/data/f5-azure-arm-templates-v2/examples/autoscale/existing/**/*, automated-test-scripts/f5-azure-arm-templates-v2/examples/autoscale/**/*, examples/autoscale/payg/azuredeploy-existing-network.json
  azure_quickstart_example_test_job: any of: automated-test-scripts/data/f5-azure-arm-templates-v2/examples/quickstart/**/*, automated-test-scripts/f5-azure-arm-templates-v2/examples/quickstart/**/*, examples/quickstart/azuredeploy.json
  azure_failover_example_test_job: any of: automated-test-scripts/data/f5-azure-arm-templates-v2/examples/failover/**/*, automated-test-scripts/f5-azure-arm-templates-v2/examples/failover/**/*, examples/failover/azuredeploy.json

Update runtime-init-conf-3nic-byol-instance01.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance01.yaml
Due: none

update links
  examples/autoscale/bigiq/README.md
  examples/failover/README.md
  examples/quickstart/README.md
Due: none

update offer list
  azure-offer-list.yaml
Due: none

Fixes for ESECLDTPLT-3086
  automated-test-scripts/data/f5-azure-arm-templates-v2/examples/failover/byol/existing/postpub_parameters.yaml
  automated-test-scripts/data/f5-azure-arm-templates-v2/examples/failover/byol/existing/prepub_parameters.yaml
  automated-test-scripts/data/f5-azure-arm-templates-v2/examples/failover/byol/full/postpub_parameters.yaml
  automated-test-scripts/data/f5-azure-arm-templates-v2/examples/failover/byol/full/prepub_parameters.yaml
  automated-test-scripts/data/f5-azure-arm-templates-v2/examples/modules/bigip-standalone/parameters.yaml
  automated-test-scripts/data/f5-azure-arm-templates-v2/examples/modules/bigip-standalone/postpub_parameters.yaml
  automated-test-scripts/data/f5-azure-arm-templates-v2/examples/modules/bigip-standalone/postpub_parameters1.yaml
  automated-test-scripts/data/f5-azure-arm-templates-v2/examples/modules/bigip-standalone/prepub_parameters.yaml
  automated-test-scripts/data/f5-azure-arm-templates-v2/examples/modules/bigip-standalone/prepub_parameters1.yaml
  automated-test-scripts/data/f5-azure-arm-templates-v2/examples/quickstart/byol/existing/postpub_parameters2.yaml
  automated-test-scripts/data/f5-azure-arm-templates-v2/examples/quickstart/byol/existing/postpub_parameters5.yaml
  automated-test-scripts/data/f5-azure-arm-templates-v2/examples/quickstart/byol/existing/prepub_parameters2.yaml
  automated-test-scripts/data/f5-azure-arm-templates-v2/examples/quickstart/byol/existing/prepub_parameters5.yaml
  automated-test-scripts/data/f5-azure-arm-templates-v2/examples/quickstart/byol/full/postpub_parameters2.yaml
  automated-test-scripts/data/f5-azure-arm-templates-v2/examples/quickstart/byol/full/postpub_parameters5.yaml
  automated-test-scripts/data/f5-azure-arm-templates-v2/examples/quickstart/byol/full/prepub_parameters2.yaml
  automated-test-scripts/data/f5-azure-arm-templates-v2/examples/quickstart/byol/full/prepub_parameters5.yaml
  automated-test-scripts/data/f5-azure-arm-templates-v2/examples/quickstart/payg/existing/prepub_parameters1.yaml
  automated-test-scripts/data/f5-azure-arm-templates-v2/examples/quickstart/payg/full/prepub_parameters1.yaml
  automated-test-scripts/data/f5-azure-arm-templates-v2/examples/quickstart/payg/full/prepub_parameters4.yaml
  automated-test-scripts/data/f5-azure-arm-templates-v2/examples/quickstart/payg/full/prepub_parameters6_v14.yaml
  automated-test-scripts/f5-azure-arm-templates-v2/common/create_app_environment.sh
  automated-test-scripts/f5-azure-arm-templates-v2/common/create_bastion_environment.sh
  examples/failover/README.md
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance01-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance01.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance02-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance02.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance01-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance01.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance02-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance02.yaml
  examples/modules/bigip-standalone/README.md
  examples/quickstart/README.md
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-byol-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-byol.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-payg-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-payg.yaml
Due: azure_bigip_standalone_module_test_job, azure_quickstart_example_test_job, azure_failover_example_test_job

updated default image info in READMEs
  examples/autoscale/payg/README.md
  examples/failover/README.md
  examples/quickstart/README.md
Due: none

Autoscale runtime configs
  automated-test-scripts/data/f5-azure-arm-templates-v2/examples/autoscale/payg/existing/prod.yaml
  automated-test-scripts/data/f5-azure-arm-templates-v2/examples/autoscale/payg/full/prod_app.yaml
  automated-test-scripts/data/f5-azure-arm-templates-v2/examples/quickstart/byol/existing/prod_1nic.yaml
  automated-test-scripts/data/f5-azure-arm-templates-v2/examples/quickstart/byol/existing/prod_app_1nic.yaml
  automated-test-scripts/data/f5-azure-arm-templates-v2/examples/quickstart/byol/full/prod_1nic.yaml
  automated-test-scripts/data/f5-azure-arm-templates-v2/examples/quickstart/byol/full/prod_app_1nic.yaml
  automated-test-scripts/data/f5-azure-arm-templates-v2/examples/quickstart/payg/existing/demo_2nic.yaml
  automated-test-scripts/data/f5-azure-arm-templates-v2/examples/quickstart/payg/existing/demo_app_2nic.yaml
  automated-test-scripts/data/f5-azure-arm-templates-v2/examples/quickstart/payg/existing/demo_app_3nic_v14.yaml
  automated-test-scripts/data/f5-azure-arm-templates-v2/examples/quickstart/payg/full/prod_app_3nic_v14.yaml
  examples/autoscale/bigip-configurations/Rapid_Depolyment_Policy_13_1.xml
  examples/autoscale/bigip-configurations/runtime-init-conf-bigiq.yaml
  examples/autoscale/bigip-configurations/runtime-init-conf-payg.yaml
  examples/autoscale/bigiq/README.md
  examples/autoscale/bigiq/azuredeploy-existing-network.json
  examples/autoscale/bigiq/azuredeploy-existing-network.parameters.json
  examples/autoscale/payg/README.md
  examples/autoscale/payg/azuredeploy-existing-network.json
  examples/autoscale/payg/azuredeploy-existing-network.parameters.json
  examples/failover/README.md
  examples/quickstart/README.md
  examples/quickstart/bigip-configurations/runtime-init-conf-1nic-byol-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-1nic-byol.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-1nic-payg-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-1nic-payg.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-byol-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-byol.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-payg-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-payg.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-byol-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-byol.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-payg-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-payg.yaml
Due: azure_autoscale_existing_test_job, azure_quickstart_example_test_job

update test policy
  automated-test-scripts/data/test_policies/shimkus.yaml
Due: none

3141 - CFE storage fixes
  automated-test-scripts/data/test_policies/shimkus.yaml
  automated-test-scripts/f5-azure-arm-templates-v2/common/verify_create_secret.sh
  automated-test-scripts/f5-azure-arm-templates-v2/examples/failover/create_deployment.sh
  automated-test-scripts/f5-azure-arm-templates-v2/examples/failover/create_deployment_defaults.sh
  automated-test-scripts/f5-azure-arm-templates-v2/examples/failover/create_deployment_existing_stack.sh
  automated-test-scripts/f5-azure-arm-templates-v2/examples/failover/daily_test_full.yaml
  examples/failover/README.md
  examples/failover/azuredeploy-existing-network.json
  examples/failover/azuredeploy.json
  examples/modules/bigip-standalone/bigip.json
Due: azure_bigip_standalone_module_test_job, azure_failover_example_test_job

Esecldtplt 3159 readme
  examples/failover/README.md
  examples/quickstart/README.md
Due: none

update cfe version
  automated-test-scripts/data/test_policies/shimkus.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance01-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance01.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance02-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance02.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance01-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance01.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance02-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance02.yaml
Due: none

Updated Readmes: * Updated customization example since byol parameter was added * Cleaned up solution folder by moving diagrams into own folder #
  examples/autoscale/bigiq/README.md
  examples/autoscale/bigiq/diagrams/diagram.drawio
  examples/autoscale/bigiq/diagrams/diagram.png
  examples/autoscale/payg/README.md
  examples/autoscale/payg/diagrams/diagram.drawio
  examples/autoscale/payg/diagrams/diagram.png
  examples/failover/README.md
  examples/failover/diagrams/diagram.png
  examples/quickstart/README.md
  examples/quickstart/diagrams/diagram-mulitple-vips.drawio
  examples/quickstart/diagrams/diagram-mulitple-vips.png
  examples/quickstart/diagrams/diagram.drawio
  examples/quickstart/diagrams/diagram.png
Due: none

Clarify bigIpPeerAddress descriptions in Templates
  examples/failover/README.md
  examples/failover/azuredeploy-existing-network.json
  examples/failover/azuredeploy.json
  examples/modules/bigip-standalone/README.md
  examples/modules/bigip-standalone/bigip.json
Due: azure_bigip_standalone_module_test_job, azure_failover_example_test_job

Readme updates: bolded Yes for required params
  examples/autoscale/bigiq/README.md
  examples/autoscale/payg/README.md
  examples/failover/README.md
  examples/quickstart/README.md
Due: none

bumped AT versions to latest as of 10-4
  automated-test-scripts/data/test_policies/shimkus.yaml
  examples/autoscale/bigip-configurations/runtime-init-conf-bigiq-with-app.yaml
  examples/autoscale/bigip-configurations/runtime-init-conf-payg-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance01-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance01.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance02-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance02.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance01-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance01.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance02-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance02.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-1nic-byol-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-1nic-byol.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-1nic-payg-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-1nic-payg.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-byol-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-byol.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-payg-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-payg.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-byol-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-byol.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-payg-with-app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-payg.yaml
Due: none

3219 - Add REST performance db variables
  automated-test-scripts/data/test_policies/shimkus.yaml
  examples/modules/bigip-autoscale/bigip.json
  examples/modules/bigip-standalone/bigip.json
Due: azure_bigip_autoscale_module_test_job, azure_bigip_standalone_module_test_job

3196 - add 2nic failover runtime examples
  automated-test-scripts/data/f5-azure-arm-templates-v2/examples/failover/byol/existing/demo.yaml
  automated-test-scripts/data/f5-azure-arm-templates-v2/examples/failover/byol/existing/prod.yaml
  automated-test-scripts/data/f5-azure-arm-templates-v2/examples/failover/byol/full/demo.yaml
  automated-test-scripts/data/f5-azure-arm-templates-v2/examples/failover/byol/full/prod.yaml
  automated-test-scripts/data/f5-azure-arm-templates-v2/examples/failover/payg/existing/demo.yaml
  automated-test-scripts/data/f5-azure-arm-templates-v2/examples/failover/payg/existing/prod.yaml
  automated-test-scripts/data/f5-azure-arm-templates-v2/examples/failover/payg/full/demo.yaml
  automated-test-scripts/data/test_policies/shimkus.yaml
  automated-test-scripts/f5-azure-arm-templates-v2/examples/failover/create_deployment.sh
  automated-test-scripts/f5-azure-arm-templates-v2/examples/failover/create_deployment_existing_stack.sh
  examples/failover/README.md
  examples/failover/azuredeploy-existing-network.json
  examples/failover/azuredeploy-existing-network.parameters.json
  examples/failover/azuredeploy.json
  examples/failover/azuredeploy.parameters.json
  examples/failover/bigip-configurations/runtime-init-conf-2nic-byol-instance01-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-2nic-byol-instance01.yaml
  examples/failover/bigip-configurations/runtime-init-conf-2nic-byol-instance02-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-2nic-byol-instance02.yaml
  examples/failover/bigip-configurations/runtime-init-conf-2nic-payg-instance01-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-2nic-payg-instance01.yaml
  examples/failover/bigip-configurations/runtime-init-conf-2nic-payg-instance02-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-2nic-payg-instance02.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance01-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance01.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance02-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol-instance02.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance01-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance02-with-app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg-instance02.yaml
Due: azure_failover_example_test_job

3245 - added KeyVault network firewall note to READMEs
  examples/autoscale/bigiq/README.md
  examples/failover/README.md
  examples/quickstart/README.md
Due: none
